.GeoTextBtn__container {
    display: flex;
    align-items: center;
    color: #0d47a1 !important;
}

.GeoTextBtn__btn {
    background-color: transparent; 
    font-size: 16px;
    border: none;
    font-weight: 500;
    color: #0d47a1 !important;
    outline: none;
    cursor: pointer;
    margin-left: 10px;
    font-weight: 500;
    line-height: 24px;
}