.StatFormListHeader-container {
    color: #0d47a1 !important;
}

.StatFormListHeader--black-color {
    color: #000C1E;
}

.StatFormListHeader--black-color {
    color: #000C1E;
}

.StatFormListHeader__filter__container {
    position: relative;
}