.GeoInputField--width_300 {
    width: 300px;
  }
  
.GeoInputField--half_width {
    width: 50%;
}
  
.GeoInputField--full_width {
    width: 100%;
}

.GeoInputField__additionEvent {
    height: 40px;
}

.GeoInputField__container {
    display: flex;
    color: #3467b4 !important;
}