

.GeoInterfaceSheetCreateModal__header__close-btn {
  color: #999ea5;
}

.GeoInterfaceSheetCreateModal_modal {
  min-width: 600px !important;
  max-width: 600px !important;
}

.GeoInterfaceSheetCreateModal__item {
  margin-bottom: 15px;
}