.GeoMapCoordSet__header__title {
    font-size: 20px;
    letter-spacing: 0;
    font-weight: bold;
}

.GeoMapCoordSet__group__title {
    font-weight: bold;
    letter-spacing: 0;
    font-size: 20px;
  }

.GeoMapCoordSet__body__title__white {
    color: white
}

.modal-80w {
    width: 80%;
}