
$skdf-color-white: #ffffff; 
$skdf-color-grey-000: #fbfbfb; 
$skdf-color-grey-003: #f7f7f8; 
$skdf-color-grey-005: #f2f3f3; 
$skdf-color-error-004: #fff8f7; 
$skdf-color-primary-004: #f6f8fb; 
$skdf-color-overlay: #05193766;
$skdf-color-backdrop-bg: #051937;
$skdf-color-backdrop-opacity: 0.4;

$skdf-color-black: #000c1e;
$skdf-color-grey-07: #59616d;
$skdf-color-grey-05: #999ea5; 
$skdf-color-grey-04: #b6bcc3; 
$skdf-color-grey-03: #ccced2; 
$skdf-color-grey-01: #e5e7e8; 

$skdf-color-primary-05: #0d47a1; 
$skdf-color-primary-04: #3467b4; 
$skdf-color-primary-035: #4178d0; 
$skdf-color-primary-03: #6287c2; 
$skdf-color-primary-01: #9eb5d9;
$skdf-color-primary-007: #cdddf7;
$skdf-color-primary-005: #e2eaf6;

$skdf-color-error: #f44336;
$skdf-color-error-hover: #ff5044;
$skdf-color-success: #4caf50;
$skdf-color-warning: #f39b00;
