

.GeoRegionalSkeleton__header__close-btn {
  color: #999ea5;
}

.GeoRegionalSkeleton_modal {
  min-width: 600px !important;
  max-width: 600px !important;
}

.GeoRegionalSkeleton__item {
  margin-bottom: 15px;
}

.GeoRegionalSkeleton__input {
  width: 18px;
  height: 18px;

  letter-spacing: 0;

  border-radius: 4px !important;
}