

.GeoDiagSheetUpload__header__close-btn {
  color: #999ea5;
}

.GeoDiagSheetUpload_modal {
  min-width: 600px !important;
  max-width: 600px !important;
}

.GeoDiagSheetUpload__item {
  margin-bottom: 15px;
}