.GeoLayersSwitcher__parent {
    position: relative;
    display: flex;
}

.cursorLayers { 
    cursor: pointer;
}

.testingCss {
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
    background-color: #0c6bf8;
    z-index: 888;
    opacity: 0;
    transition: opacity 3000s;
}

.GeoLayersSwitcher__modal {
    width: 23rem;
    position: absolute;
    inset: 70px -115px auto auto;
    transform: translate(-117px, 0px);
    //opacity:0;
    //  top: -400px;
    border-radius: 0.75rem;
    transition: 'top' 1s !important;
    -moz-transition: all 1s ease-in; /* Firefox 4 */
    -webkit-transition: all 1s ease-in; /* Safari 和 Chrome */
    -o-transition: all 1s ease-in; /* Opera */
    overflow: hidden;
}

.GeoLayersSwitcher__modal__body {
    // max-height: 800px;
    min-height: 500px;
    height: calc(100vh - 150px);
    overflow-y: auto;
    background-color: #fff;
    z-index:999;
}

.GeoLayersSwitcher__modal-backdrop {
    width: 100vw;
    height: 100vh;
}

.GeoLayersSwitcher__modal-backdrop {
    background-color: #051937;
    transition: opacity 0.15s linear;
    opacity: 0.4;
}