.GeoCheckboxGroup__title {
    font-weight: bold;
    letter-spacing: 0;
    text-align: left !important;
    margin-top: 24px;
    margin-bottom: 16px;

}

.GeoCheckboxGroup__input {
    width: 18px;
    height: 18px;

    letter-spacing: 0;

    border-radius: 4px;
}