.GeoSearchRoads__search_result {
  height: 250px;
  background-color: white;
  border-radius: 0.75rem 0.75rem 0.75rem 0.75rem;
  border: 1px solid rgb(230, 230, 230);
  margin: 10px 0px 0px;
  overflow: auto;
  padding:10px;
}

.GeoSearchRoads__content {
  font-size:14px;
  padding: 5px;
  color:#0D47A1;
  cursor: pointer;
  text-align: justify;
}

.GeoSearchRoads__content:hover {
  background-color: rgb(248, 248, 248)
}

.GeoSearchRoads__nocontent {
  font-size:14px;
  padding: 5px;
  color:#979797;
  text-align: justify;
}

.GeoSearchRoads__searching {
  padding:5px;
  font-size:14px;
  padding: 5px;
  color:#0D47A1;
  text-align: justify;
}