.GeoSideBar__container {
    position: absolute;
    right: 0px;
    bottom: 40px;
    z-index: 19;
    width: 100px;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    margin-right: 24px;
}

.GeoSideBar__item {
    display: flex;
    justify-content: flex-end;
    margin-top: 8px;
}
