.table-w300 {
  max-width: 300px;
  min-width: 300px;
  overflow: hidden;
}

.table-w200 {
  max-width: 200px;
  min-width: 200px;
  overflow: hidden;
}

.table-w100 {
  max-width: 100px;
  min-width: 100px;
  overflow: hidden;
}

.table-w150 {
  max-width: 150px;
  min-width: 150px;
  overflow: hidden;
}

.table-w400 {
  max-width: 400px;
  min-width: 400px;
  overflow: hidden;
}

.table-w500 {
  max-width: 500px;
  min-width: 500px;
  overflow: hidden;
}

.table-auto-width {
  width: auto;
  min-width: 100px;
  overflow: hidden;
}


.GeoTable-th {
  font-weight:  bold;
}

.GeoTable-tr {
  cursor: pointer;
}


.GeoTable-th-border {
  border-right: 1px solid #CCCED2
}

.GeoTable__noData {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
}
