.GeoDiagnosticControlModal__tabs {
    margin-top: 30px;
    margin-bottom: 30px;
}

.GeoDiagnosticControlModal__header__close-btn {
    color: #999ea5;
}

.GeoDiagnosticControlModal__createMode__btn {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
    color: #0d47a1;
}

.GeoDiagnosticControlModal_modal {
    min-width: 1200px !important;
    max-width: 1200px !important;
}